<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secrets</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <div class="bg-white py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-2xl lg:text-center">
            <h2 class="text-base/7 font-semibold text-indigo-600">Welcome to Secret</h2>
            <p class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl lg:text-balance">Where Anonymity Meets Expression</p>
            <p class="mt-6 text-lg/8 text-gray-600">Do you have something to share but want to keep it private?
                Secret is the perfect place for you to let it all out—completely anonymously.</p>
            <div class="flex-auto gap-3 content-center">
                <a href="/register"><button class="btn bg-gray-500 text-white rounded font-bold py-2 px-4">Register</button></a>
                <a href="/login"><button class="btn bg-blue-500 text-white rounded font-bold py-2 px-4">Login</button></a>
              
            </div>
            </div>
        </div>
    </div>
      
    
</body>
</html>